<div class="glory">
    <p>Glory to the Father, and to the Son, and to the Holy Spirit; both now and ever and unto the ages of ages. Amen.</p>
    <p>Alleluia, alleluia, alleluia: Glory to Thee, O God.
    <br>Alleluia, alleluia, alleluia: Glory to Thee, O God.
    <br>Alleluia, alleluia, alleluia: Glory to Thee, O God.</p>
    <p>Lord, have mercy; Lord, have mercy; Lord, have mercy.</p>
    <p>Glory to the Father, and to the Son, and to the Holy Spirit; both now and ever and unto the ages of ages. Amen.</p>
</div>
