<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>psalter.app :: {{page.title}}</title>
    <meta name="description" content="A Psalter as used in the Orthodox Church. Psalms are from the Septuagint translation by Sir Lancelot Charles Lee Brenton. Simple HTML for distraction-free prayer">
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
      <div id="site-header">
          <h1><a href="/">psalter.app</a></h1>
      </div>
      <section id="page-content">
          {{content}}
      </section>
      <section id="site-footer">
          <nav>
              <ul>
                  <li><a href="/about">About</a></li>
                  <li><a href="https://www.github.com/jay-knight/psalter.app">GitHub</a></li>
              </ul>
          </nav>
      </section>

  </body>
</html>
