---
layout: page
---

<section class="kathisma">
    {% assign previous = page.kathisma | minus: 1 %}
    {% assign next     = page.kathisma | plus:  1 %}
    <div class="sequence-header">
        <div class="previous">
        {% if site.data.kathisma[previous] %}
            <a href="/kathisma/{{previous}}">{{previous}}</a>
        {% endif %}
        </div>
    <h2 class="kathisma-title">Kathisma {{ page.kathisma }}</h2>
        <div class="next">
            {% if site.data.kathisma[next] %}
                <a href="/kathisma/{{next}}">{{next}}</a>
            {% endif %}
        </div>
    </div>

    {% if site.data.kathisma[page.kathisma] %}
        {% assign stases = site.data.kathisma[page.kathisma] %}

        <h1 class="stasis-header">First Stasis</h1>

        {% for psalm in stases[0] %}
        <h2 class="psalm-title">Psalm {{psalm}}</h2>

        {% assign psalm_file = "psalm" | append: psalm %}
        {% include psalm.html version="brenton" psalm=psalm_file %}
        {% endfor %}

        {% include first_glory.html %}

        <h1 class="stasis-header">Second Stasis</h1>

        {% for psalm in stases[1] %}
        <h2 class="psalm-title">Psalm {{psalm}}</h2>

        {% assign psalm_file = "psalm" | append: psalm %}
        {% include psalm.html version="brenton" psalm=psalm_file %}
        {% endfor %}

        {% include first_glory.html %}

        <h1 class="stasis-header">Third Stasis</h1>

        {% for psalm in stases[2] %}
        <h2 class="psalm-title">Psalm {{psalm}}</h2>

        {% assign psalm_file = "psalm" | append: psalm %}
        {% include psalm.html version="brenton" psalm=psalm_file %}
        {% endfor %}

        {% include final_glory.html %}

    {% endif %}
    {{ content }}

</section>
