---
layout: page
---

<section class="psalm">
    <div class="psalm-header">
        <div class="previous-psalm">
        {% if page.previous %}
            <a href="/psalm/{{page.previous}}">{{page.previous}}</a>
        {% endif %}
        </div>
    <h2 class="psalm-title">Psalm {{ page.psalm }}</h2>
        <div class="next-psalm">
            {% if page.next %}
                <a href="/psalm/{{page.next}}">{{page.next}}</a>
            {% endif %}
        </div>
    </div>

    {% assign psalm_file = "psalm" | append: page.psalm %}
    {% include psalm.html psalm=psalm_file version=page.version %}

</section>
